body{
    background-image: url(assets/Background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.clock{
    color:white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow:3px 3px 5px black;
    backdrop-filter:blur(1.5px);
}